<html>

<head>
    <title>
        <%=title%>
    </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://kit.fontawesome.com/b3348ae33f.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div id="tdbox">
        <div id="start_box">
            <div class="drpbtn btn-group">
                <button type="button" class="drp dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-list fa-xl" style="color: #ffffff;"></i>
                </button>
                <ul class="drpmenu dropdown-menu">
                    <li><a class="dropdown-item" href="/">Home</a></li>
                    <li><a class="dropdown-item" href="/money">Money</a></li>
                </ul>
            </div>
            <div id="name">
                <div>
                    <h1>Welcome Home</h1>
                </div>
            </div>
            <dib id="dtime"></dib>
        </div>
        <div class="inputdrp dropdown">
            <a class="inputbtn btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                ADD TASK
            </a>

            <ul class="inputbox dropdown-menu">
                <li>
                    <form class="cform" action="/create_task" method="post">
                        <input class="mtask" type="text" placeholder="Write Task" name="task" required>
                        <select name="type" class="mtype">
                            <option selected value="Others">Type</option>C
                            <option value="Personal">Personal</option>
                            <option value="Work">Work</option>
                            <option value="House">House</option>
                            <option value="Others">Others</option>
                        </select>
                        <input id="mdate" class="mdate" type="date" placeholder="Enter Date" name="date" required>
                        <input class="mtime" type="time" placeholder="Enter Time" name="time" required>
                        <button class="msubmit" type="submit">Submit task</button>
                    </form>
                </li>
            </ul>
        </div>
        <ul id="handleul">
            <% for(let t of todolist) {%>

                <li id="handleli" class="<%= t.clicked ? 'click' : 'not' %> <%= t.clicked ? 'com' : 'nc' %>">

                    <div id="imgbox" class="<%=t.type%>"></div>
                    <div id="write" class="<%= t.clicked ? " click" : "not" %>" >
                        <%=t.task%>
                    </div>
                    <div id="writebox" class="<%= t.clicked ? " click" : "not" %>" >
                        <%=t.type%>
                    </div>
                    <div id="writebox2" class="<%= t.clicked ? " click" : "not" %>" >
                        <%=t.date%>
                    </div>
                    <div id="writebox3" class="<%= t.clicked ? " click" : "not" %>" >
                        <%=t.time%>
                    </div>
                    <div id="checkbox" class="<%= t.clicked ? " click" : "not" %>">
                        <a href="/del/?id=<%=t.id%>"><i class="fa-solid fa-trash-can-arrow-up fa-lg"
                                style="color: #002aff;"></i></a>
                        <a href="/clicked/?id=<%=t.id%>" class="cbtn"><i class="fa-solid fa-square-check fa-lg"></i></a>
                    </div>
                </li>

                <%}%>
        </ul>
        <div id="counting">
            <div id="dtcounter"></div>
            <div id="counter">
                <div id="done"></div>
                <div id="notdone"></div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>
</body>

</html>